*.class

/bin
/target
/releases

# Eclipse
/.classpath
/.project
/.settings

# IntelliJ
/.idea

# Gradle
.gradle
**/build/
!src/**/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache