.root {
   -color-f: #f9d900;
   -color-q: #a9e200;
   -color-h: #2f357f;
   -color-o: #860061;
}

.tooltip {
    -fx-show-duration: 10s;
}

#fgchart .readonly-checkbox *.text:disabled {
   -fx-opacity: 1.0;
}

#fgchart .chart-content {
   -fx-background-color: transparent;
}

#fgchart .chart-plot-background {
   -fx-background-color: transparent;
}

#fgchart .chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 6px 0px 6px 200px;
}

#bgchart .chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 6px 130px 6px 0px;   
}

#fgchart .default-color0.chart-line-symbol { -fx-background-color: -color-f, white; }
#fgchart .default-color1.chart-line-symbol { -fx-background-color: -color-q, white; }
#fgchart .default-color2.chart-line-symbol { -fx-background-color: -color-f, white; }
#fgchart .default-color3.chart-line-symbol { -fx-background-color: -color-q, white; }
#bgchart .default-color0.chart-line-symbol { -fx-background-color: -color-h, white; }
#bgchart .default-color1.chart-line-symbol { -fx-background-color: -color-o, white; }
#bgchart .default-color2.chart-line-symbol { -fx-background-color: -color-h, white; }
#bgchart .default-color3.chart-line-symbol { -fx-background-color: -color-o, white; }

#fgchart .default-color0.chart-series-line { -fx-stroke: -color-f; }
#fgchart .default-color1.chart-series-line { -fx-stroke: -color-q; }

#bgchart .default-color0.chart-series-line { -fx-stroke: -color-h; }
#bgchart .default-color1.chart-series-line { -fx-stroke: -color-o; }

#plot {
   -fx-background-color: #fff;
} 
  
#prop-chart .default-color0.chart-series-line { -fx-stroke: #2c63b1; }
#prop-chart .default-color0.chart-line-symbol { -fx-background-color: #2c63b1, white; }

#chartExportTag { -fx-fill: #b1b1b1; -fx-font-size: 10; }

.property-sheet .warning {
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}